{% extends "core.html" %}

{% block content %}

<h1>Login</h1>

<form id="login-form" action="/login" method="post">{% csrf_token %}
	<label for="login-username">Username:</label>
	<input type="text" id="login-username" name="login-username" class="form-control" placeholder="Username" autofocus="autofocus" />
	<br />
	<label for="login-password">Password:</label>
	<input type="password" id="login-password" class="form-control" name="login-password" placeholder="Password" />
	<br />
	<button id="login-submit type="submit" class="btn btn-success">Login...</button>
</form>

{% endblock %}
